fastapi[all]
matplotlib
mediapipe
numpy
opencv-python
scipy
dash
pandas
Pillow
plotly
torch
parse
tqdm
pycocotools
pyqt5
PyMySQL
imutils
piexif
scikit-learn
keras
scikit-image
tensorflow
fastdtw
ultralytics